-- Enums
CREATE TYPE property_status AS ENUM ('active', 'inactive', 'maintenance');
CREATE TYPE owner_status AS ENUM ('active', 'inactive');
CREATE TYPE reservation_status AS ENUM ('pending', 'confirmed', 'cancelled', 'completed', 'no-show');
CREATE TYPE reservation_platform AS ENUM ('airbnb', 'booking', 'direct', 'expedia', 'other');
CREATE TYPE document_type AS ENUM ('invoice', 'receipt', 'contract', 'quotation', 'other');
CREATE TYPE document_status AS ENUM ('draft', 'sent', 'paid', 'overdue', 'cancelled');
CREATE TYPE entity_type AS ENUM ('owner', 'property', 'guest', 'supplier', 'company', 'other');
CREATE TYPE payment_method AS ENUM ('cash', 'bank_transfer', 'credit_card', 'debit_card', 'paypal', 'other');
CREATE TYPE financial_document_type AS ENUM ('invoice', 'receipt', 'expense', 'income', 'maintenance', 'other');
CREATE TYPE financial_document_status AS ENUM ('draft', 'pending', 'paid', 'overdue', 'cancelled');

-- Tabela: owners
CREATE TABLE owners (
  id SERIAL PRIMARY KEY,
  name TEXT NOT NULL,
  company TEXT,
  address TEXT,
  tax_id TEXT,
  email TEXT NOT NULL,
  phone TEXT
);

-- Tabela: properties
CREATE TABLE properties (
  id SERIAL PRIMARY KEY,
  name TEXT NOT NULL,
  aliases TEXT[], -- Lista de aliases/apelidos para a propriedade
  owner_id INTEGER NOT NULL REFERENCES owners(id),
  cleaning_cost TEXT,
  check_in_fee TEXT,
  commission TEXT,
  team_payment TEXT,
  cleaning_team TEXT,
  cleaning_team_id INTEGER,
  monthly_fixed_cost TEXT,
  active BOOLEAN DEFAULT TRUE
);

-- Tabela: cleaning_teams
CREATE TABLE cleaning_teams (
  id SERIAL PRIMARY KEY,
  name TEXT NOT NULL,
  email TEXT,
  phone TEXT,
  rate TEXT,
  status TEXT NOT NULL DEFAULT 'active',
  created_at TIMESTAMP DEFAULT NOW(),
  updated_at TIMESTAMP DEFAULT NOW()
);

-- Tabela: reservations
CREATE TABLE reservations (
  id SERIAL PRIMARY KEY,
  property_id INTEGER NOT NULL REFERENCES properties(id),
  guest_name TEXT NOT NULL,
  check_in_date TEXT NOT NULL,
  check_out_date TEXT NOT NULL,
  total_amount TEXT NOT NULL,
  check_in_fee TEXT,
  team_payment TEXT,
  platform_fee TEXT,
  cleaning_fee TEXT,
  commission_fee TEXT,
  net_amount TEXT,
  num_guests INTEGER DEFAULT 1,
  guest_email TEXT,
  guest_phone TEXT,
  status TEXT NOT NULL DEFAULT 'confirmed',
  notes TEXT,
  source TEXT DEFAULT 'manual',
  created_at TIMESTAMP DEFAULT NOW(),
  updated_at TIMESTAMP DEFAULT NOW()
);

-- Tabela: activities
CREATE TABLE activities (
  id SERIAL PRIMARY KEY,
  type TEXT NOT NULL,
  entity_id INTEGER,
  entity_type TEXT,
  description TEXT NOT NULL,
  created_at TIMESTAMP DEFAULT NOW()
);

-- Tabela: maintenance_tasks
CREATE TABLE maintenance_tasks (
  id SERIAL PRIMARY KEY,
  property_id INTEGER NOT NULL REFERENCES properties(id),
  description TEXT NOT NULL,
  priority TEXT NOT NULL DEFAULT 'medium',
  due_date TEXT NOT NULL,
  status TEXT NOT NULL DEFAULT 'pending',
  assigned_to TEXT,
  reported_at TEXT NOT NULL,
  completed_at TEXT,
  cost TEXT,
  invoice_number TEXT,
  notes TEXT,
  created_at TIMESTAMP DEFAULT NOW(),
  updated_at TIMESTAMP DEFAULT NOW()
);

-- Tabela: financial_documents
CREATE TABLE financial_documents (
  id SERIAL PRIMARY KEY,
  document_type TEXT NOT NULL,
  document_number TEXT NOT NULL,
  issue_date TEXT NOT NULL,
  due_date TEXT,
  amount TEXT NOT NULL,
  status TEXT NOT NULL DEFAULT 'pending',
  related_entity_type TEXT,
  related_entity_id INTEGER,
  description TEXT,
  pdf_url TEXT,
  created_at TIMESTAMP DEFAULT NOW(),
  updated_at TIMESTAMP DEFAULT NOW()
);

-- Tabela: financial_document_items
CREATE TABLE financial_document_items (
  id SERIAL PRIMARY KEY,
  document_id INTEGER NOT NULL REFERENCES financial_documents(id),
  description TEXT NOT NULL,
  quantity INTEGER NOT NULL,
  unit_price TEXT NOT NULL,
  total_price TEXT NOT NULL,
  notes TEXT,
  created_at TIMESTAMP DEFAULT NOW()
);

-- Tabela: payment_records
CREATE TABLE payment_records (
  id SERIAL PRIMARY KEY,
  document_id INTEGER NOT NULL REFERENCES financial_documents(id),
  amount TEXT NOT NULL,
  payment_date TEXT NOT NULL,
  payment_method TEXT NOT NULL,
  reference TEXT,
  notes TEXT,
  created_at TIMESTAMP DEFAULT NOW()
);

-- Tabela: quotations
CREATE TABLE quotations (
  id SERIAL PRIMARY KEY,
  client_name TEXT NOT NULL,
  client_email TEXT,
  client_phone TEXT,
  property_type TEXT NOT NULL,
  property_area INTEGER NOT NULL,
  bedrooms INTEGER NOT NULL,
  bathrooms INTEGER NOT NULL,
  property_address TEXT,
  base_price TEXT NOT NULL,
  cleaning_frequency TEXT,
  include_supplies BOOLEAN DEFAULT FALSE,
  include_laundry BOOLEAN DEFAULT FALSE,
  include_ironing BOOLEAN DEFAULT FALSE,
  include_disinfection BOOLEAN DEFAULT FALSE,
  include_window_cleaning BOOLEAN DEFAULT FALSE,
  include_extra_hours BOOLEAN DEFAULT FALSE,
  extra_hours_quantity INTEGER DEFAULT 0,
  additional_services TEXT,
  total_price TEXT NOT NULL,
  valid_until TEXT,
  status TEXT NOT NULL DEFAULT 'pending',
  notes TEXT,
  created_at TIMESTAMP DEFAULT NOW(),
  updated_at TIMESTAMP DEFAULT NOW()
);

-- Tabela: knowledge_embeddings
CREATE TABLE knowledge_embeddings (
  id SERIAL PRIMARY KEY,
  content TEXT NOT NULL,
  content_type TEXT,
  embedding_json TEXT,
  metadata TEXT,
  created_at TIMESTAMP DEFAULT NOW(),
  updated_at TIMESTAMP DEFAULT NOW()
);

-- Tabela: query_embeddings
CREATE TABLE query_embeddings (
  id SERIAL PRIMARY KEY,
  query TEXT NOT NULL,
  response TEXT,
  embedding_json TEXT,
  frequency INTEGER,
  last_used TIMESTAMP,
  created_at TIMESTAMP DEFAULT NOW()
);

-- Tabela: conversation_history
CREATE TABLE conversation_history (
  id SERIAL PRIMARY KEY,
  user_id INTEGER,
  message TEXT NOT NULL,
  role TEXT NOT NULL,
  timestamp TIMESTAMP DEFAULT NOW(),
  metadata TEXT
);

-- Índices e constraints adicionais podem ser adicionados conforme necessário.
